@import "vars.css";

@font-face {
    font-family: CreatoDisplay-Medium;
    src: url(../assets/fonts/CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: CreatoDisplay-Regular;
    src: url(../assets/fonts/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: CreatoDisplay-MediumItalic;
    src: url(../assets/fonts/CreatoDisplay-MediumItalic.otf);
}

@font-face {
    font-family: CreatoDisplay-RegularItalic;
    src: url(../assets/fonts/CreatoDisplay-RegularItalic.otf);
}

body {
    background-color: var(--background);
    font-family: CreatoDisplay-Regular, Helvetica, sans-serif;
    color: var(--near-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: CreatoDisplay-Medium, Helvetica, sans-serif;
}

.title {
    font-size: 3em;
    margin-top: 1.5ch;
}

p {
    font-family: CreatoDisplay-Regular, Helvetica, sans-serif;
}

p i, p em {
    font-family: CreatoDisplay-RegularItalic, Helvetica, sans-serif;
}

p b {
    font-family: CreatoDisplay-Medium, Helvetica, sans-serif;
}

p b em, p em b {
    font-family: CreatoDisplay-MediumItalic, Helvetica, sans-serif;
}

.box {
    background-color: cornflowerblue;
}

.invisible {
    display: none;
}

.toast {
    display: block;
    bottom: 30px;
    min-width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    padding: 20px;
    color: var(--near-black);
    position: fixed;
    left: 50%;
    transition: opacity 0.6s;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

.toast.notification {
    background-color: var(--pink);
    opacity: 1;
}

.toast.alert {
    background-color: var(--red);
    opacity: 1;
}

.closebtn {
    margin-left: 15px;
    color: var(--purple);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.closebtn:hover {
    color: var(--dark-purple);
}

li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--blue);
}

.navbar {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
}

.bar {
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--near-black);
}

.nav-menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 0;
    box-sizing: border-box;
    margin-left: 5rem;
}

.nav-link{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-blue);
}

.nav-link:hover{
    color: var(--purple);
}

.nav-title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--dark-purple);
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        left: 0;
    }

    .nav-item {
        padding: 0;
        box-sizing: border-box;
        margin: 2.5rem 0;
    }

    .hamburger {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}