:root {
    --background: #d4edf5;
    --blue: #2e9fc4
    --dark-blue: #163a5d;
    --light-pink: #f5d4ed;
    --pink: #ebabdc;
    --purple: #8e2275;
    --pastel-green: #edf5d4;
    --near-black: #101010;
}