:root {
    --background: #d4edf5;
    --blue: #79c6e0;
    --dark-blue: #163a5d;
    --light-pink: #f5d4ed;
    --pink: #ebabdc;
    --purple: #8e2275;
    --red: #faa0a0;
    --dark-purple: #501342;
    --pastel-green: #edf5d4;
    --near-black: #101010;
}